<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}" />
        <link rel="stylesheet" href="{{ asset('css/main.css') }}" />
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
    <div class="container">
      <main role="main">

        <header class="header clearfix">
        <nav>
          <ul class="nav nav-pills float-right">
            <li class="nav-item">
              <a class="nav-link active" href="{{ path('homepage') }}">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ path('operalista') }}">Opere</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ path('codicelista') }}">Codice</a>
            </li>
          </ul>
        </nav>
        <h3 class="text-muted">EbookDownloader</h3>
        </header>

        <div class="jumbotron">
          <h1 class="display-3">Elmi's World</h1>
          <p class="lead">Casa editrice</p>
        </div>
      
        {% block body %}{% endblock %}
      </main>

        <footer class="footer">
          <p>&copy; Studio Archistico 2017</p>
        </footer>

        <script src="{{ asset('js/jquery.min.js') }}"></script>
        <script src="{{ asset('js/bootstrap.min.js') }}"></script>
        {% block javascripts %}{% endblock %}
    </div>
    </body>
</html>
