{% extends "::base.html.twig" %}

{% block title %}Lista opere{% endblock %}

{% block body %}
<div class="row">
    <div class="col-lg-6">
        <h2>Nuova opera</h2>
    </div>
    <div class="col-lg-6">
        <a class="btn btn-primary btn-block" href="{{ path('operanuova') }}">Nuova opera</a>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
    <h2>Lista opere</h2>
    <div class="table-responsive"> 
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Titolo</th>
                    <th>Autore</th>
                    <th>ISBN</th>
                    <th>Nome file</th>
                    <th>X</th>
                </tr>
            </thead>
            <tbody>
        {% for o in opere %}
            <tr>
                <td>{{ o.id }}</td>
                <td>{{ o.titolo }}</td>
                <td>{{ o.autore }}</td>
                <td>{{ o.isbn }}</td>
                <td>{{ o.nomefile }}</td>
                <td><a class="btn btn-danger" href="{{ path('operecancella', {'id': o.id}) }}">X</a></td>
            </tr>
        {% endfor %}
            </tbody>
        </table>
    </div>
    </div>
</div>
{% endblock %}
